{% extends 'base.html' %}

{% block content %}

{% if object_list.count == 0 %}
    <h3 class="red-text">There are no Sponsors</h3>
    <a href="{% url 'sponsors_create' %}">Add a Sponsor</a>
{% else %}
    {% for sponsor in object_list %}
    <div class="card">
        <a href="{% url 'sponsors_detail' sponsor.id %}">
            <div class="card-content">
                <span class="card-title">{{sponsor.name}}</span>
            </div>
        </a>
    </div>
    {% endfor %}
{% endif %}

{% endblock %}